/* ==========================================================================
   App Component Styles
   ========================================================================== */
/*
    Light green: rgb(175,244,198,255)
    Dark green: rgb(80,128,102,255)
*/

/*
    Global Styles
*/

* {
    font-family: "Barlow", sans-serif;

}

html, body {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color: rgba(175,244,198,255);
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}

/*
    App.jsx Styles
*/
.app{
    display: flex;
    flex-direction:row;
    height: 100vh;
    margin:0;
}

.pageContent{
    padding: 2rem;
    width: 100%;
}

.siteTitle{
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
}
/*
    "+" Button (Create New Habit/Goal)
*/
.createNewButton{

    /* Positioning */
    align-self: flex-end;

    /* Box Model */
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;

    /* Display */
    font-size: 4rem;
    border-radius: 50px;


}


.createNewButton:active{
    background-color: rgb(80,128,102,255);
    color: white;
}


/*
    General Card Styles
*/
.cardTitle{
    /* Box Model */
    margin-top: 2rem;

    /* Display */
    font-size: 4rem; 
}

.cardButton{

    /* Positioning*/
    bottom:0;

    /* Box Model */
    margin-top: 1rem;
    padding: 1rem 1.5rem;

    /* Display */
    font-size: 2rem;
    border-radius: 25px;
}


.cardButton:active{
    background-color: rgb(80,128,102,255);
    color: white;
}
