/* ==========================================================================
   Goal List Card Styles
   ========================================================================== */
.goalListCard{

    /* Display */
    display:flex;
    flex-direction: column;
    align-items: center;

    /* Box Model */
    width:100%;
}

/* Gallery Display
   ========================================================================== */

/* Goal Gallery Item*/
.goalElement{

    /* Display */
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;

    /* Box Model */
    width: 20vw;
    height: 20vh;
    padding:2rem;

    /* Other */
    transition: 1s;
}

.goalElementsContainer{
    
    /* Display */
    display:flex;
    flex-flow: row wrap;
    gap: 5rem;
    
}

.goalElement:hover{

    /* Box Model */
    width: 23vw;
    height: 23vh;

    /* Other */
    cursor: pointer;

}

.goalElementName{

    /* Display */
    font-size: 2rem;
    font-weight: bold;

}

.goalElementSuccess{

    /* Display */
    font-size: 2rem;
}

/* Details Display
   ========================================================================== */

.goalDetailsButtons{

    /* Display */
    display:flex;
    justify-content: space-between;
    width: 80%;
}

.goalDetailsButtons button{

    /* Display */
    font-size: 2rem;
    border-radius: 30px;

    /* Box Model */
    padding: 1rem;

}

.goalDetails{

    /* Display */
    font-size: 2rem;
    display:flex;
    gap: 3rem;

}
.statusOverview{

    /* Display */
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

    margin-top: 2rem;
}

.statusOverviewDay{

    /* Display */
    text-align: center;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 30px;

    /* Box Model */
    padding: 1rem;
}