/* ==========================================================================
   Navigation Bar Style
   ========================================================================== */
#NavBar{
    /* Display*/
    display: flex;
    flex-direction: column;
    background-color: rgb(80,128,102);
    border-radius: 25px;

    /* Box Model */
    padding-top: 3rem;
}

.navButton{

    /* Display*/
    color: white;
    font-size: 1.5rem;
    border: none;
    background: none;

    /* Box Model */
    padding: 2rem 1rem;
    width: 100%;

    /* Other */
    transition: 
        color 1s,
        background-color 1s;
}

.navButton:hover{

    /* Display*/
    color: black;
    background: rgba(255, 255, 255, 0.394);
    
    /* Other */
    cursor: pointer;
}



