.timeClockCard{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.timeClockCard label{
    font-size: 1.5rem;
}

.timeClockCard select{
    font-size:3rem;
    border-radius: 25px;
    padding: 1rem;
}

.timeClockCard option{
    font-size: 1.5rem;
   
}

.timeClockDescription{
    font-size: 2rem;
}

.timeClockMetric{
    font-size: 10rem;
}

.timeClockDate{
    font-size: 2rem;
}


